<component name="ArtifactManager">
  <artifact type="exploded-war" name="Mybatis03:war exploded">
    <output-path>$PROJECT_DIR$/target/Mybatis03</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Mybatis03" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: junit:junit:4.12" />
          <element id="library" level="project" name="Maven: org.hamcrest:hamcrest-core:1.3" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.4.5" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.18" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/Mybatis03/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="Mybatis03/web/Web" />
    </root>
  </artifact>
</component>